{% extends 'base.html' %} 

  
{% block content %} {{block.super}}
<main>
    <section>
        {% for item in pictures %}
        <article id="post">
            <div class="Instagram-card">
                <div class="Instagram-card-header">
                    <a href="user/{{item.id}}">
                        <img src="{{item.image.url}}" class="Instagram-card-user-image ">
                    </a>
                    <a class="Instagram-card-user-name" href="user/{{item.profile.user.id}}" style="color: black;" >{{item.profile}} </a>
                    <a class="instagram-card-icon left" href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                </div>

                <div class="Instagram-card-image">
                    <img src="{{item.image.url}}" width="595">
                </div>

                <div class="Instagram-card-content">
                    <form action="{% url 'likes' image.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="post_id" value="{{post.id}}"><i class="far fa-comment"></i></button>
                    </form>
                    <a class="instagram-card-icon" href="comments/{{item.id}}"><i class="far fa-comment"></i></a>
                    <a class="instagram-card-icon left" href="#"><i class="far fa-bookmark"></i></a>
                    <p class="Likes">1,763 likes</p>
                    <p>
                        <a class="Instagram-card-content-user" href="#">{{item.profile.user}}</a> {{item.caption}}.
                    </p>
                    <a href="comments/{{item.id}}" class="comments">
                        {% if number %}
                        View all {{number}} comments
                        {% endif %}
                    </a>
                    <p class="date">{{item.created_at|timesince}} AGO </p>
                    <hr>
                </div>

            </div>
        </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
