<header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" id="logo">
    <input type="text" placeholder="Search">
    <nav>
        <a href="{% url 'feed' %}"><i class='fa fa-home'></i></a>
        <i class='far fa-paper-plane'></i>
        <i class='far fa-compass'></i>
        <i class='far fa-heart'></i>
        <div id="user">
            <a href="{% url 'profile' %}">
                <img src="{{user.profile.photo.url}}">
            </a>
        </div>
    </nav>
</header>